<% flash.each do |type, message| %>
<% puts;puts type;puts;puts %>
  <div id="flash" class="alert <%= bootstrap_class_for(type) %> fade in">
    <div class="container">
      <%= message %>
    </div>
  </div>
<% end %>
