# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b6a343d7832e695339d246c909270c69eeca6b85fd94cd4163c7bc4bffeb437890e9fc40c7559a603c8c8b1982442c5566092ca9ae6e359701fbac8dc2d3a1fd

test:
  secret_key_base: 08ed0cb04e6f2b7ff2bb072cc9069442d67f408b8b3dbd4c8af4ed8cc9a1d6f287085adac039b8898268e582d7168bc04116988ec9f83b33543ee89daa16a18a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
