// Place all the styles related to the Snippets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.snippet-code {
  width: 100%;
  display: inline-block;
}

.snippet-author {
  font-size: 1em;
  float: right;
}
